@page
@model CESIM.Pages.Grados.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Grado</h1>

<p>
    <a asp-page="Create">Agregar un nuevo Grado</a>
</p>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Grado[0].Nivel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Grado[0].Seccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Grado[0].Docente)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Grado) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nivel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Seccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Docente.Nombres)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.gradoID">Editar</a> |
                <a asp-page="./Details" asp-route-id="@item.gradoID">Ver</a> |
                <a asp-page="./Delete" asp-route-id="@item.gradoID">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
