@page
@model CESIM.Pages.Matriculas.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Matriculas</h1>

<p>
    <a asp-page="Create">Agregar una nueva Matricula</a>
</p>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Matricula[0].Seccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Matricula[0].Grado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Matricula[0].Estudiante)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Matricula) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Seccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Grado.Nivel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estudiante.Nombres)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.matriculaID">Editar</a> |
                <a asp-page="./Details" asp-route-id="@item.matriculaID">Detalles</a> |
                <a asp-page="./Delete" asp-route-id="@item.matriculaID">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
