@page
@model CESIM.Pages.Docentes.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Ver Docentes</h1>

<div>
    <h4>Docente</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Docente.Nombres)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Docente.Nombres)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Docente.Apellidos)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Docente.Apellidos)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Docente.Sexo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Docente.Sexo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Docente.Especialidad)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Docente.Especialidad)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Docente.Correo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Docente.Correo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Docente.Telefono)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Docente.Telefono)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Docente.Direccion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Docente.Direccion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Docente.Grados)
        </dt>
        <dd class="col-sm-10">
            <table class="table">

                @foreach (var item in Model.Docente.Grados)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nivel)
                        </td>

                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Seccion)
                        </td>

                    </tr>
                }

            </table>
        </dd>

    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Docente.docenteID">Editar</a> |
    <a asp-page="./Index">Volver al menu principal</a>
</div>
